
* {
  box-sizing: border-box;
}
.header {

  background-image: url("./image/front.png");
  height:200px;
}
h2 {

  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
  color:DarkSlateBlue;
}
.grid{
	display: grid;
	height: 300px;
	grid-template-columns:  auto auto auto auto;
	grid-template-rows:auto;
	grid-column-gap: 10px;
	grid-row-gap: 10px; 
	
}

.gift{
	background: url("./image/gift.png");
	font-family: 'Courgette', cursive;
	color:DarkSlateBlue;
	text-align: center center;
	border: 1px solid rgba(0, 0, 0, 0.8);
	
}
.flower{
	background: url("./image/flower.png");
	font-family: 'Courgette', cursive;
	color:DarkSlateBlue;
	text-align: center center;
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.wrapping{
	background: url("./image/wrap.png");
	font-family: 'Courgette', cursive;
	color:DarkSlateBlue;
	text-align: center center;
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.deliver{
	background: url("./image/deliver.png");
	font-family: 'Courgette', cursive;
	color:DarkSlateBlue;
	text-align: center center;
	border: 1px solid rgba(0, 0, 0, 0.8);
}
li {

  display: inline-block;
  width: 200px;
  position: relative;
  top: 20px;
  color: #4B0082;
  font-family: 'Courgette', cursive;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

li:hover {
  color: #8A2BE2;
}

h3{
  color: #4B0082;
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

h6{

  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;

}

footer {
  background-color: #D8BFD8;
  text-align: center;
  height: 70px;
}