
* {
  box-sizing: border-box;
}
.map{
position: relative;
right: -900px;
}
.address{
  top: 20px;
  color: #4B0082;
  font-family: 'Courgette', cursive;
  font-size: 16px;
  font-weight: 300;
  text-align: right;
 
}
h4{
	font-size: 12px;
	text-align: right;
}